@import '~scss/styles';

.heroPresentationGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heroCard {
  @include heroCard($backgroundColor: lightblue, $width: 180px, $height: 120px);
}

.heroSelected {
  background-color: red;
  &:hover {
    background-color: green;
  }
}

.heroSelectedButton {
  
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
