@import '~scss/styles';

.heroPresentationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 32px;
  box-sizing: border-box;
}

.heroChoiceGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.heroCard {
  @include heroCard($backgroundColor: lightblue);
}

.heroSelected {
  background-color: red;
  &:hover {
    background-color: green;
  }
}

.heroSelectedButton {
  @include button();
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

@media (max-width: 768px) {
  .heroPresentationBox {
    padding: 0px 16px;
  }
}

@media (max-width: 414px) {
  .heroPresentationBox {
    padding: 0px 8px;
  }
}
